In [61]:
import pandas as pd
import requests
import json
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon
import psycopg2 as pg
import pandas.io.sql as psql
import ast
connection = pg.connect("host=188.72.109.162 dbname=optimus_post_db user=reader password=aboba")
cursor = connection.cursor()

In [3]:
rowsDf = psql.read_sql('SELECT * FROM mos_rows WHERE mos_dataset_id = 60662 LIMIT 100000', connection)
rowsDf

,id,global_id,geo_data,mos_dataset_id,data
0,1008400,833043944,"{'type': 'Point', 'coordinates': [37.78772601,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
1,1008401,833043948,"{'type': 'Point', 'coordinates': [37.7938182, ...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
2,1008402,833043951,"{'type': 'Point', 'coordinates': [37.79882395,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
3,1008403,833043954,"{'type': 'Point', 'coordinates': [37.81981326,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
4,1008404,833043956,"{'type': 'Point', 'coordinates': [37.76169693,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
...,...,...,...,...,...
12402,1020802,2387472879,"{'type': 'Point', 'coordinates': [37.48174309,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
12403,1020803,2387472881,"{'type': 'Point', 'coordinates': [37.71416567,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
12404,1020804,2387472882,"{'type': 'Point', 'coordinates': [37.5537541, ...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
12405,1020805,2387472883,"{'type': 'Point', 'coordinates': [37.71956529,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."
12406,1020806,2387472884,"{'type': 'Point', 'coordinates': [37.65923744,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c..."

In [63]:
housesDf = psql.read_sql('SELECT * FROM houses', connection)
housesDf

,id,address,square,year,floors,entrances,rooms
0,1,"пр-кт. Мира, д. 188 Б, к. 1, Москва",54804.10,2014,58,1.0,370.0
1,2,"пр-кт. Мира, д. 188Б, к. 3, Москва",53253.20,2015,58,1.0,356.0
2,3,"пер. Чапаевский, д. 3, Москва",256740.60,2006,57,14.0,992.0
3,4,"ул. Мосфильмовская, д. 8, Москва",137500.80,2011,53,2.0,564.0
4,5,"ул. Мосфильмовская, д. 70, Москва",341272.69,2006,50,7.0,1046.0
...,...,...,...,...,...,...,...
33393,33394,"ул. Оренбургская, д. 5, к. 4, Москва",107.10,1954,1,NaN,2.0
33394,33395,"г. Зеленоград, проезд. 6537-й, д. 21, Москва",469.00,2009,1,NaN,NaN
33395,33396,"ул. Спортивная, д. 10, Москва",133.00,1940,1,NaN,NaN
33396,33397,"проезд. Коломенский, д. 8, к. 1, Москва",8462.30,1982,0,2.0,128.0
33397,33398,"ш. Хорошевское, д. 68, к. 4, Москва",3811.00,1962,0,5.0,73.0

In [62]:
cursor.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'""")
for table in cursor.fetchall():
    print(table)

('schema_migrations',)
('ar_internal_metadata',)
('active_storage_blobs',)
('active_storage_attachments',)
('mos_kiosks',)
('mos_shopping_facilities',)
('mos_multifunctional_centers',)
('mos_libraries',)
('mos_culture_houses',)
('mos_datasets',)
('vacuum_cleaner_statuses',)
('houses',)
('mos_rows',)
('mos_sports_facilities',)
('areas',)
('districts',)
('active_storage_variant_records',)
('automatic_post_offices',)
('placement_object_types',)

In [4]:
ostanovki = rowsDf.copy()

In [22]:
check_polygon(ostanovki.loc[0]['data'])

35

In [23]:
ostanovki['area_id'] = ostanovki['data'].apply(check_polygon)

In [32]:
zamOstDf.shape

(58, 6)

In [34]:
zamDf.shape

(33, 12)

In [35]:
pwd

'/Users/timofeykamenetskiy/Desktop/lct2022'

In [30]:
zamOstDf = ostanovki.loc[ostanovki['area_id'] == 30]

In [40]:
zamDf = pd.read_csv('data/zamosk.csv')

In [41]:
zamDf.shape

(131, 12)

In [49]:
zamOstDf.loc[680]['data']['geoData']['coordinates']

[37.62770898, 55.72210574]

In [50]:
def get_coord(string):
    return string['geoData']['coordinates']

In [51]:
zamOstDf['coordinates'] = zamOstDf['data'].apply(get_coord)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
pwd

'/Users/timofeykamenetskiy/Desktop/lct2022'

In [57]:
zamOstDf.to_csv('data/zamosk_ost.csv')

In [53]:
zamOstDf.head()

,id,global_id,geo_data,mos_dataset_id,data,area_id,coordinates
680,1009078,833046185,"{'type': 'Point', 'coordinates': [37.62770898,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c...",30.0,"[37.62770898, 55.72210574]"
681,1009079,833046186,"{'type': 'Point', 'coordinates': [37.62622664,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c...",30.0,"[37.62622664, 55.72499391]"
688,1009086,833046193,"{'type': 'Point', 'coordinates': [37.62219435,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c...",30.0,"[37.62219435, 55.72263741]"
1508,1009908,833047412,"{'type': 'Point', 'coordinates': [37.62496846,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c...",30.0,"[37.62496846, 55.72959896]"
1786,1010186,833047786,"{'type': 'Point', 'coordinates': [37.63462863,...",60662,"{'Street': '', 'geoData': {'type': 'Point', 'c...",30.0,"[37.63462863, 55.74430251]"

In [54]:
zamDf.head()

,№ - ТОП,№,Адрес,Площадь м2,Год,Этажей,Подьездов,Помещений / Квартир,улица,дом,coordinates,area_id
0,NaN,19566.0,"ул. Мытная, д. 7, стр. 2, Москва",9237.80,2013,17,1,64,улица+Мытная,7,"[37.617479, 55.7223742]",30.0
1,NaN,1044.0,"пер. Щипковский 1-й, д. 30, Москва",Не заполнено,Не заполнено,Не заполнено,NaN,NaN,пер.+Щипковский+1-й,1-й,"[37.6320889, 55.7235854]",30.0
2,NaN,2815.0,"пер. Монетчиковский 4-й, д. 1/6, стр. 1, Москва",Не заполнено,Не заполнено,Не заполнено,Не указано,Не указано,пер.+Монетчиковский+4-й,4-й,"[37.6306918, 55.7331602]",30.0
3,NaN,6672.0,"ул. Пионерская Б., д. 20, Москва",Не заполнено,Не заполнено,Не заполнено,NaN,NaN,улица+Пионерская+Б.,20,"[37.6357476, 55.7276483]",30.0
4,NaN,7165.0,"пер. Овчинниковский Б., д. 26, стр. 2, Москва",Не заполнено,Не заполнено,Не заполнено,NaN,NaN,пер.+Овчинниковский+Б.,26,"[37.6299993, 55.7435662]",30.0

In [55]:
print(zamDf.shape[0])

131

In [56]:
print(zamOstDf.shape[0])

58

In [18]:
areasDf = psql.read_sql('SELECT * FROM areas', connection)
areasDf['polygon'] = areasDf['polygon'].apply(ast.literal_eval)

In [20]:
def check_polygon(string):
    string = string['geoData']['coordinates']
    if (string != '0') and (string != 0):
        point = Point(string)
        for index, row in areasDf.iterrows():
            if row['polygon_type'] == 0:
                tmpPolygon = Polygon(row['polygon'][0])
                if tmpPolygon.contains(point) == True:
                    return row['id']
            else:
                for pol in row['polygon']:
                    tmpPolygon = Polygon(pol)
                    if tmpPolygon.contains(point) == True:
                        return row['id']
    else:
        return -1

In [6]:
def check_polygon(string):
    if string['type'] == 'Point':
        point = Point(string['coordinates'])
        for index, row in areasDf.iterrows():
            if row['polygon_type'] == 0:
                tmpPolygon = Polygon(row['polygon'][0])
                if tmpPolygon.contains(point) == True:
                    return row['id']
            else:
                for pol in row['polygon']:
                    tmpPolygon = Polygon(pol)
                    if tmpPolygon.contains(point) == True:
                        return row['id']
    return -1

In [19]:
check_polygon(ostanovki.loc[0]['data']['geoData']['coordinates'])

35